.DS_Store
codewhizz/
chat.openai.com/
venv/
*/*__pycache__
*/*.__pycache__
*.pyc
tests/.coverage
*/hue_page_movie/*.png
*/munsell_data_frame/*
munsell_data_frame/build/lib/tests/test_MunsellDataFrame.py
./keep/*
tests/.coverage/*
tests/htmlcov/*
